@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-jakarta text-black;
  }
}

@layer components {
  .container {
    @apply px-5 mx-auto w-full;
    max-width: 1480px;
  }

  .containermb {
    @apply px-2 mx-auto w-full;
    max-width: 1024px;
  }

  a.active {
    @apply text-red-600 border-b border-red-500
  }


}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.blink-text {
  animation: blink 1.5s infinite;
}

